.Header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-color: white;
    align-items: center;
    overflow: hidden;

}

.Header__image{
    object-fit: contain;
    max-width: 8%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.Header__nav{
    display: flex;
    min-width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-family: 'Cenatyc';
    /*border-bottom: 2px solid white;*/
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.Header__text{
    color: white;
    flex-grow: 1;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: #524698;
    animation-fill-mode: forwards;
    /*transition: color 1s linear, background-color 1s linear*/
}

.Header__text:hover {
    animation: bar-change 0.1s linear forwards;
    transform: translate();
}

.Header__text.active{
    animation: button-click 0.5s linear forwards;
    animation-fill-mode: forwards;
}

.Header__background_active {
    background-color: #7CC903;
    flex-grow: 1.5;
}

.Header__text:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: white;
}


@media (max-width: 1250px) {
    .Header__title{
        font-size: 80px;
    }
}

@keyframes button-click {
    0%{
        background-color: white;
    }
    5%{
        background-color: #524698;
    }
    10%{
        background-color: white;
    }
    15%{
        background-color: #7CC903;
    }
}

@keyframes bar-change {
    from {
        color: white;
        background-color:#524698;
    }
    to {
        background-color: white;
        color: #524698;
    }
}

