.App{
    width: 100vw;
    height: 100vh;
    min-height: 1000px;
    background: linear-gradient(180deg, #B6658f, #524698)
}

.colors{
    color:#D8ABC3;
    color: #B6658F;
    color: #21123C;
    color: #FCFEDE;
    color: #7CC903;
    color: #C4BFE5;
    color: #B0DDE9;
    color: #6FC1D7;
    color: #968DD0;
    color: #524698;
    color: #ffff;
}

.App__background{
    position: absolute;
    background-image: url('../assets/Grid.png');
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
}



