:root, html, body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'RetroByte';
  src: url('../public/Fonts/RetroByte.ttf'), format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Areion';
  src: url('../public/Fonts/Areion-Regular.ttf'), format('ttf');
  font-weight: normal;
  font-style: normal;
}